.informacoes {
  gap: 0.3em;
  padding: 0.3em 0em;
  align-items: center;
  width: 100%;
  
}

.destaque {
  font-weight: bold;
  color: #393939;

}
.funcionarios {
  width: 100%;
}
.titulo {
  color: #222;
}

.input::placeholder {
  text-align: center;
}
.posicaoBotao{
  position: fixed;
  bottom: 20px; 
  right: 20px;
}

@media (width <= 1080px) {
  .conteudo {
    gap: 1.5em;
  }
  .certificados {
    width: 100%;
  }
  .dados {
    width: 23em;
  }
  .titulo{
    text-align: center;
  }
  
}
